body {
    margin: 0% auto;
}

.main {
    margin: 0% 5% auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.button {
    width: 20%;
    margin: 2% 40%;
    background-color: rgb(16, 238, 16);
    color: white;
    padding: 10px;
    font-size: 20px;
}

.container {
    background-color: rgb(252, 235, 252);
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    height: 100%;
}

.container .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 40%;
    margin: 2% auto;
}

.container .cards .card1 {
    background-color: rgb(241, 233, 233);
    width: 40%;
    height: 100%;
    border-radius: 10px;
}

.container .cards .neighbour {
    background-color: rgb(48, 228, 24);
    width: 40%;
    height: 60%;
    border-radius: 10px;
    margin: 4%;
}

.image img {
    width: 100%;
    height: 50%;
}